.social {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}

.contenedorTituloSocial {
    border-radius: 10px;
    background-color: rgb(28,28,30);
    margin-top: 1.5%;
    width: 25%;
    height: 15%;
    display: inline-block;
    padding: 10px 0;
    margin-bottom: -1%;
}

.tituloSocial {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(229, 229, 234);
    font-size: 40px;
    font-weight: 800;
    padding: 10px 0;
}

.contenedorSocial {
    border-radius: 20px;
    border: solid 3px rgb(10,132,255);
    background-color: rgb(229, 229, 234);
    color: black;
    margin-top: 3.5%;
    width: 80%;
    display: inline-block;
    padding: 5%;
    margin-bottom: 3.5%;
}

.contenedorSocial h2 {
    font-size: 30px;
    font-weight: 600;
}

.contenedorSocial h3 {
    font-size: 15px;
    font-weight: 400;
}

.elementoListaAmigos {
    width: 100%;
}

.textoListaAmigos {
    font-size: 25px;
    font-weight: 500;
}

.botonIrPerfil {
    width: 80%;
}

.botonEliminarAmigo {
    width: 35%;
}

.botonAmigo {
    width: 35%;
}

.textoListaBusqueda {
    font-size: 25px;
    font-weight: 500;
}

.elementoListaBusqueda {
    width: 100%;
}

.textoListaBusqueda {
    font-size: 25px;
    font-weight: 500;
}