.country{
    cursor: pointer;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.country:hover {
    fill:#FFFFFF;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1.003);
}

#Lines {
  stroke-dasharray: 5,5;
}

.circulo{
  stroke: black;
  stroke-width: 2;
  -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  pointer-events: none;
}

.cAfrica .circulo {
  fill:#e2bc75;
}

.cOceania .circulo {
  fill: #f7aab1;
}

.cAmericaSur .circulo {
  fill: #ebad97;
}

.cAmericaNorte .circulo {
  fill: #f8e0a2;
}

.cEuropa .circulo  {
  fill: #e5dcec;
}

.cAsia .circulo {
  fill: #e0f0c6;
}

.cAsia {
  fill: #cab8af;
}

.circulos text{
    font-family: arial;
    fill: white;
    stroke: #000000;
    stroke-width: 0.7px;
    font-size: 18px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: central;
    pointer-events: none;
    cursor: pointer;
}
