.containerJugadores {
  /* border: 1.5px solid white; */
  width:17%;
  height: 95px;
  margin-top: 1.5%;
  margin-right: 4%;
  float:right;
  clear:right;
}

.botonesPrincipales {
  /* border: 1.5px solid white; */
  width: 1000px;
  display: flex;
}

.boton {
  border: 1.5px solid white; 
  border-radius: 20px;
  background-color: #CCF4FF;
  height: "80"; 
  width: "60";
  padding: .5em;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

.boton:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.botonInfo {
  border: 1.5px solid white; 
  border-radius: 20px;
  background-color: #CCF4FF;
  height: 75px; 
  width: 180px;
  padding: .5em;
  margin-left: 20px;
}

.textoInfo {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color:#000000;
  font-size: 17px;
  font-weight: 550;
}

.botonChat {
  border: 1.5px solid white; 
  border-radius: 20px;
  background-color: #CCF4FF;
  height: 75px; 
  width: 280px;
  padding: .5em;
  margin-left: 20px;
}

.textoChat {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color:#000000;
  font-size: 16px;
  font-weight: 400;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 5em;
  line-height:2.3em;
}

.botonFase {
  border: 1.5px solid white; 
  border-radius: 25px;
  background-color: #CCF4FF;
  height: "80"; 
  width: "60";
  padding: .5em;
  cursor: pointer;
  transition: width 0.5s, height 0.5s, transform 0.5s;
  margin-left: 20px;
}

.botonFase:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.botonClick {
  /*border: 1.5px solid yellow; */
  width: 85px;
  height: 205px;
  margin-bottom: 30px;
  visibility: hidden;
}

.containerBotones {
  /* border: 1.5px solid white; */
  float:left;
  clear:left;
  margin-top: 33%;
  margin-left: 4%;
  width: 1px;
  margin-bottom: 2%;
}

