.containerJugadores {
  /* border: 1.5px solid white; */
  width:17%;
  height: 95px;
  margin-top: 1.5%;
  margin-right: 4%;
  float:right;
  clear:right;
}

.botonesPrincipales {
  /* border: 1.5px solid white; */
  width: 180px;
  display: flex;
}

.boton {
  border: 1.5px solid white; 
  border-radius: 20px;
  background-color: #CCF4FF;
  height: "60"; 
  width: "60";
  padding: .5em;
  cursor: pointer;
}

.boton:hover {
  opacity: 0.6;
  transition: 0.3s;
  transform: scale(1.05);
}

.botonClick {
  /*border: 1.5px solid yellow; */
  width: 79px;
  height: 200px;
  visibility: hidden;
}

.containerBotones {
  /* border: 1.5px solid white; */
  float:left;
  clear:left;
  margin-top: 35%;
  margin-left: 4%;
  width: 1px;
  margin-bottom: 2%;
}
