.badge-counter {
  margin-left: 5px;
  transform: translateY(-12px)
}

.badge-danger {
  color: rgb(255, 255, 255);
  background-color: rgb(28,28,30);
}

.badge {
  display: inline-block;
  padding: .4em .4em;
  font-size: 60%;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .35rem;
}

.imagenBarraSuperior {
  cursor: pointer;
  filter: invert(100%);
}

.informacionBarraSuperior {
  margin-top: 5px;
}

.tituloBarraSuperior {
  font-size: 27px;
  font-weight: 600;
}
