#Lines {
  stroke-dasharray: 5,5;
}

/*  "#f9844a" */

.circuloI{
  stroke: black;
  stroke-width: 2.5;
  -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .5));
  fill: #928f8f;
}

.Africa_c .circuloI {
  stroke: #9B1212;
  fill: #F87C7D;
}

.Africa_c .rectanguloInfo {
  stroke: #B72323;
  fill: #F87C7D;
}

.Oceania_c .circuloI {
  stroke: #12535D;
  fill: #67b4c0;
}

.Oceania_c .rectanguloInfo {
  stroke: #12535D;
  fill: #67b4c0;
}

.AmericaSur_c .circuloI {
  stroke: #2D0F4F;
  fill: #916DB9;
}

.AmericaSur_c .rectanguloInfo {
  stroke: #2D0F4F;
  fill: #916DB9;
}

.AmericaNorte_c .circuloI {
  stroke: #874F1A;
  fill: #F1B275;
}

.AmericaNorte_c .rectanguloInfo {
  stroke: #874F1A;
  fill: #F1B275;
}

.Europa_c .circuloI {
  stroke: #25910A;
  fill: #bdf3af;
}

.Europa_c .rectanguloInfo {
  stroke: #25910A;
  fill: #bdf3af;
}

.Asia_c .circuloI {
  stroke: #B5A31A;
  fill: #e7de95;
}

.Asia_c .rectanguloInfo {
  stroke: #B5A31A;
  fill: #EDE496;
}

.circulosI text{
  font-family:Arial, Helvetica, sans-serif;
  fill: white;
  stroke: #000000;
  stroke-width: 1.2px;
  font-size: 32px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: central;
}

.text_info text{
  font-family:Arial, Helvetica, sans-serif;
  fill: white;
  stroke: #000000;
  stroke-width: 0.8px;
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: central;
}
