.country{
  cursor: pointer;
}

.special-country{
  opacity: 0.8;
}

.country:hover {
    fill:#FFFFFF;
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1.003);
}

.prueba{
  background-color: #4682B4;
  fill: #4682B4;
}

#Lines{
  stroke-dasharray: 5,5;
}