.textoH1CrearPartida {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(229, 229, 234);
  font-size: 40px;
  font-weight: 800;
  padding: 10px 0;
}

.contenedorTituloCrearPartida {
  border-radius: 10px;
  background-color:rgb(28,28,30);
  margin-top: 2.5%;
  width: 25%;
  height: 15%;
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 3.5%;
}

.contenedorCrearPartida {
  border-radius: 20px;
  background-color: rgb(229, 229, 234);
  margin-top: 0.5%;
  width: 45%;
  height: 460px;
  display: inline-block;
  padding: 15px 0;
  margin-bottom: 3.5%;
}
    
.textoCrearPartida {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: "rgb(28,28,30)";
  font-size: 24px;
  font-weight: 500;
  padding: 2px 0;
  margin-top: 10px;
}

.boxCrearPartida {
  margin-top: 2px;
  width: 40%;
  display: inline-block;
}