.downnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .downnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 6px;
  }

  .a.text-white {
      color:#f2f2f2;
      font-size: 0.875em;
      display: block;
  }

  .a.link-light {
    color: #f8f9fa;
    font-size: 0.875em;
    text-decoration: underline;
  }

  .a.link-light:hover, .link-light:focus {
    color: #f9fafb;
  }

 .downnav-right {
    float: right;
  }
  
  .downnav-right {
    float: right;
  }